* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
}


/* loading page start */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 9999999999999999;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 55px;
  height: 55px;
  border: 10px solid #4e0000;
  border-top-color: blue;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}

/* loading page end */

.Clock{
  position: relative;
  color: white;
  left: 55%;
}


.navv {
  position: sticky;
}

.Nav-btnn {
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  overflow: hidden;
  outline: none;
  padding-left: 3px;
  padding-right: 3px;
  scale: 0.9;
}
.Nav-btnn:hover{
  background-color: #515151;
  transition: 0.5s;
}

.rockimg {
  width: 200px;
  height: 200px;
}
.animm {
 
 
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {left:0px; top:0px;}
  25%  { left:20px; top:0px;}
  50%  { left:20px; top:20px;}
  75%  { left:0px; top:20px;}
  100% { left:0px; top:0px;}
}

.anim2{
  position: relative;
  animation-name: example2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes example2 {
  0%   {top:0px; left:0px;}
  25%  { top:20px; left:0px;}
  50%  { top:20px; left:20px;}
  75%  { top:0px; left:20px;}
  100% { top:0px; left:0px;}
}

.animicons{
  position: relative;
  animation-name: example3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes example3 {
  0%   {top:0px; left:0px;}
  25%  { top:5px; left:0px;}
  50%  { top:5px; left:5px;}
  75%  { bottom:10px; left:5px;}
  100% { top:0px; left:0px;}
}

.animcards{
  position: relative;
  animation-name: example3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example3 {
  0%   {top:0px; left:0px;}
  25%  { top:5px; left:0px;}
  50%  { top:5px; left:5px;}
  75%  { bottom:10px; left:5px;}
  100% { top:0px; left:0px;}
}


.proj-img{
  height: 180px;
}